*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

.btn{
    border-radius: 32px;
    border: none;
    background-color: #370511;
    min-width: 150px;
    min-height: 30px;
}