.header{
    width: 100%;
    position: relative;
    z-index: 1;
}


.header__nav{
    padding: 18px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header__title h1{
    font-size: 36px;
}

.header__nav-list{
    list-style: none;
    display: flex;
}

.header__nav-item{
    display: flex;
    align-items: center;
}

.nav-item{
    margin-left: 24px;
    line-height: 40px;
    font-size: 18px;
}

.btn.places{
    margin-left: 24px;
}

.btn.places p{
    font-size: 14px;
    display: inline-block;
    margin-left: 24px;
    color: white;
    margin-top: 4px;
    font-weight: bold;
}

.slider{
    background-image: url(https://images.unsplash.com/photo-1484627147104-f5197bcd6651?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&w=1000);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    top: -90px;
    height: 100vh;

}

.slider__content{
    position: absolute;
    left: 120px;
    top: 350px;
}

.slider__title{
    font-size: 26px;
}

.slider__titleMini{
    font-size: 24px;
    margin-top: 8px;
}

.slider__container{
    font-size: 20px;
    margin-top: 24px;
    line-height: 1.5;
}

.btn.homes{
    margin-top: 24px;
    height: 36px;
    width: 170px;
}

.btn.homes p{
    font-size: 14px;
    color: white;
    font-weight: bold;
}

.content{
    width: 100%;
    margin-top: -150px;
}

.content__title{
    text-align: center;
    margin-top: 120px;
}

.content__title p{
    margin-top: 4px;
    opacity: 0.5;
}

.content__list{
    display: flex;
    flex-wrap: wrap;
    margin-top: 32px;
}

.content-item{
    width: calc(100% / 3);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.picture{
    width: 90%;
    height: 50%;
    border-radius: 4px;
}

.item-title{
    text-align: center;
    margin: 8px 0;
}

.item-text{
    text-align: center;
    margin: 8px 16px;
}

.item-text p{
    font-size: 16px;
    font-weight: 200;
}

.newBtn{
    margin-top: 24px;
    border: none;
    border-radius: 32px;
    border: solid 1px black;
    height: 40px;
    width: 170px;
    background-color: white;
}

.newBtn div{
    font-size: 14px;
    font-weight: bold;
}

